[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[core]
  editor = vim
[push]
  default = current
[user]
  name = tillwf
  email = till@till.com
